/* top right bottom left;    vert horz */

@import url(http://fonts.googleapis.com/css?family=Open+Sans);

* {
    margin: 0;
    padding: 0;
}
ul, ol {
    margin-top: 0.5em;
    margin-left: 2em;
}

body {
    font-size: 16px;
    padding: 60px 16px;
}
code {
    color: inherit;
    background-color: #f5f5f5;
}

.csa-main-title {
    margin-top: 15px;
    margin-bottom: 2em;
}
.csa-main-title .visible-xs {
    text-align: center;
}
.csa-main-title .visible-xs img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.csa-main-title .visible-xs h1 {
    color: #546e7c;
    font-weight: bold;
    font-size: 32px;
    margin-top: 0.5em;
}
.csa-main-title .visible-xs h2 {
    color: #fc8a3c;
    font-weight: bold;
    font-size: 18px;
    margin-top: 0.5em;
    margin-bottom: 1.5em;
}
.csa-main-title .visible-xs .buttons {
    text-align: center;
}
.csa-main-title .hidden-xs .buttons {
    margin-left: 267px;
    margin-top: 1em;
}
.csa-main-title .buttons .btn {
    padding-left: 24px;
    padding-right: 24px;
}
.csa-main-title .buttons .btn-outline-inverse {
    margin-left: 20px;
}

.checkpage dd {
    padding-left: 5rem;
}
.footer {
    padding: 0.3em 16px;
    text-align: left;
}
@media (max-width: 512px) {
    body {
        padding: 50px 5px;
    }
    .jumbotron {
        padding: 16px 5px;
        margin-left: -5px;
        margin-right: -5px;
    }
    .checkpage dd {
        padding-left: 2.5rem;
    }
    .footer {
        padding: 0.3em 0px;
        text-align: center;
    }
}

.navbar {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 100;
}
a.navbar-brand {
    font-weight: bold;
    padding-top: 17px;
}


h2 {
    margin-top: 32px;
    margin-bottom: 16px;
}
h4 {
    margin-top: 18px;
    margin-bottom: 6px;
}

.table .post-title {
    font-weight: bold;
}
.table .post-title a {
    color: inherit;
}

h1 .version {
    color: #bbb;
}

.whatsnewposts .container-fluid .row {
    margin: 0 -16px 0 -16px;
}
.whatsnewposts .container-fluid .col-sm-5, .whatsnewposts .container-fluid .col-sm-2 {
    padding-left: 0;
}
.whatsnewposts  .panel {
    margin-bottom: 8px;
}
.whatsnewposts  .panel .panel-body p {
    margin: 0;
}
.whatsnewposts .panel .panel-links {
    padding: 8px 15px;
    border-top: 1px solid #ddd;
}

.article .csa-post-links {
    margin-top: 2em;
}

.csa-run h2 {
    border-top: 2px solid #ddd;
    padding-top: 0.8em;
    margin-top: 1em;
}

a.csa-offset-anchor { /* used to prevent anchors from being obscured by the fixed header */
    display: block;
    position: relative;
    top: -60px;
    visibility: hidden;
}
.csa-run a.csa-offset-anchor {
    top: -15px;
}

.csa-toggle {
    color: #3399F3;
    cursor: pointer;
}
.csa-toggle:hover {
    text-decoration: underline;
}
.csa-toggled-text {
    padding: 5px;
    margin-bottom: 1.5em;
    display: none;
    font-size: small;
    background-color: #f5f5f5;
}
.csa-toggled-text code {
    background-color: #fff;
}

.pagination .reset a {
    border: 0;
    padding-left: 0;
    color: inherit;
    font-size: 16px;
}
.pagination .reset a:hover {
    color: inherit;
    background-color: inherit;
    cursor: default; 
}

table.csa-version-table td, table.csa-version-table th {
    border-right: 1px solid #dddddd;
}
table.csa-version-table tr td:last-child, table.csa-version-table tr th:last-child {
    border-right: 0;
}

.checkpage h2 {
    border-top: 1px solid #dddddd;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: #f9f9f9;
}
.checkpage h3 {
    margin-top: 3rem;
}
.checkpage dl {
    margin-bottom: 2rem;
}
.checkpage > dl > dt:nth-of-type(2n), .checkpage > dl > dd:nth-of-type(2n) {
    background-color: #f9f9f9;
}
.checkpage dt {
    float: left;
    display: inline;
    padding: 5px 5px 0 5px;
    font-weight: bold;
}
.checkpage dd {
    border-bottom: 1px solid #dddddd;
    padding-top: 5px;
    padding-bottom: 6px;
}
.checkpage dd p {
    margin-bottom: 0;
}
.checkpage dd.title {
    border-bottom: 2px solid #DDD;
}
.checkpage .proptype:before{
    content: "[";
}
.checkpage .proptype {
    font-weight: normal;
}
.checkpage .proptype:after {
    content: "] – ";
}
.checkpage .propdefault:before{
    content: "Default: ";
    font-style: italic;
}
.checkpage .propdefault{
    display: block;
}
pre .line-numbers {
    display: none;
}

.panel div.csa-logos-panel {
    padding-bottom: 0;
    padding-right: 0;
}
.panel div.csa-logos-panel a {
    outline: 0;
}
img.csa-tablogo {
    height: 50px;
    margin-bottom: 15px;
    margin-right: 15px;
}

div.post-links a.btn {
    margin-right: 0.5em;
}
.post-date {
    font-style: italic;
}
table.table-striped tr:last-child {
    border-bottom: 1px solid rgb(221, 221, 221);
}

.footer {
    width: 100%;
    height: 50px;
    background-color: #eeeeee;
    position: fixed;
    bottom: 0;
    left: 0;
    background-image: linear-gradient(#e4e4e4, #eee 50%, #fff);
    background-repeat: no-repeat;
    border-top: 1px solid #d5d5d5;
    filter: none;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.3);
    font-size: 14px;
}
.footer .colored a {
    color: #3399f3;
}
.footer a {
    color: inherit;
}
