# Gradle build directory
.gradle/
/build/
/buildSrc/.gradle/
/buildSrc/build/
/sqtest/build/
/sqtest/.gradle/

# IntelliJ IDEA control files
*.iws
*.iml
*.ipr
/.idea/

# Netbeans control files
nbactions.xml
nb-configuration.xml

# Eclipse control files
.classpath
.project
.settings/

# Windows specific control files
Thumbs.db
Desktop.ini

# Jekyll stuff
.jekyll-metadata
_site/
_cache/
_support/

# Others
bin/
delme/
out/
*~
*.zip
