#
# Checkstyle-Addons - Additional Checkstyle checks
# Copyright (c) 2015-2024, the Checkstyle Addons contributors
#
# This program is free software: you can redistribute it and/or modify it under the
# terms of the GNU General Public License, version 3, as published by the Free
# Software Foundation.
#
# This program is distributed in the hope that it will be useful, but WITHOUT ANY
# WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A
# PARTICULAR PURPOSE. See the GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License along with this
# program.  If not, see <http://www.gnu.org/licenses/>.
#

# Gradle build directory
.gradle/
/build/
/buildSrc/.gradle/
/buildSrc/build/
/sqtest/build/
/sqtest/.gradle/

# IntelliJ IDEA control files
*.iws
*.iml
*.ipr
/.idea/

# Netbeans control files
nbactions.xml
nb-configuration.xml

# Eclipse control files
.classpath
.project
.settings/

# Windows specific control files
Thumbs.db
Desktop.ini

# Jekyll stuff
.jekyll-metadata
/.jekyll-cache/
/_site/
_cache/
/_posts/
/_support/

# Others
bin/
delme/
out/
*~
*.zip
