---
layout: default
sedesc: Additional Checkstyle Checks
---

<div class="csa-main-title">
<div class="hidden-xs">
<div class="logo"><img src="{{ site.baseurl }}/images/checkstyle-addons-logo-text.png" width="637" height="126" alt="{{ site.name }}" /></div>
<p class="buttons"><a class="btn btn-primary" href="https://github.com/{{ site.github }}/releases/latest">Download</a>
 <a class="btn btn-default btn-outline-inverse"
    href="https://github.com/{{ site.github }}" title="Browse/clone code at GitHub">Sources</a>
</p>
</div>

<div class="visible-xs">
<div class="logo"><img src="{{ site.baseurl }}/images/checkstyle-addons-logo.png" width="118" height="126" alt="{{ site.name }}" /></div>
<h1>{{ site.name }}</h1>
<h2>{{ site.description }}</h2>
<p class="buttons"><a class="btn btn-primary" href="https://github.com/{{ site.github }}/releases/latest">Download</a>
 <a class="btn btn-default btn-outline-inverse"
    href="https://github.com/{{ site.github }}" title="Browse/clone code at GitHub">Sources</a>
</p>
</div>
</div>

<p>{{ site.name }} provides additional detectors for the <a href="{{ site.link_cs_home }}" target="_blank">Checkstyle</a>
static code analysis tool for Java. It <a href="{{ site.baseurl }}/run.html">integrates</a> with a large number of standard software,
and is distributed through Bintray jcenter and Maven Central. It is well tested and stable.</p>
 
<p>{{ site.name }} is free software under the GNU General Public License, version 3
(<a href="https://www.gnu.org/copyleft/gpl.html" target="_blank">GPLv3</a>).</p>

{% if site.posts.size > 0 %}  
<h2>What's New</h2>
<div class="whatsnewposts">
<div class="container-fluid">
<div class="row">

{% for post in site.posts limit:2 %}
{% capture headingtext %}{{ post.date | date: "%b %-d, %Y" }} - {{ post.title }}{% if post.release == true %} released{% endif %}{% endcapture %}
<div class="col-sm-5">
<div class="panel {% if post.emphasis == true %}panel-primary{% else %}panel-default{% endif %}">
  <div class="panel-heading"><h3 class="panel-title">{% if post.content contains '<!--break-->' %}<a href="{{ post.url }}">{{ headingtext }}</a>{% else %}{{ headingtext }}{% endif %}</h3></div>
  <div class="panel-body">
    {{ post.content | split:'<!--break-->' | first }}{% if post.content contains '<!--break-->' %}
    <a href="{{ post.url }}"><br/>... read more</a> {% endif %}{% if post.content contains '<!--break-->' %}</p>{% endif %}
  </div>
  {% if post.release == true %}
  <div class="panel-links"><a href="https://github.com/{{ site.github }}/releases/tag/{{ post.title }}">Download</a>
    - <a href="{{ site.baseurl }}/releases.html">Release History</a>
  </div>
  {% endif %}
</div>
</div>
{% endfor %}

{% if site.posts.size > 2 %}  
<div class="col-sm-2">
<div class="panel panel-default">
  <div class="panel-heading"><h3 class="panel-title"><a href="{{ site.baseurl }}/whatsnew.html">&raquo; All Blog posts</a></h3></div>
  <div class="panel-body">
    The <a href="{{ site.baseurl }}/whatsnew.html">What's New</a> page has the comprehensive list of all blog posts.
  </div>
</div>
</div>
{% endif %}
</div></div></div>
{% endif %}


<h2>Get Started</h2>

{{ site.name }} is packaged as a JAR file which is used in most situations, but for Eclipse and SonarQube, dedicated plugins are provided.
Click on a logo for product-specific installation instructions, or just
<a href="https://github.com/{{ site.github }}/releases/latest">download everything</a>:

<div class="panel panel-default" style="margin-top:0.7em;">
  <div class="panel-body csa-logos-panel">
    <a href="{{ site.baseurl }}/run.html#run-gradle"><img class="csa-tablogo" src="images/gradle.png" alt="Gradle" /></a>
    <a href="{{ site.baseurl }}/run.html#run-maven"><img class="csa-tablogo" src="images/maven.png" alt="Maven" /></a>
    <a href="{{ site.baseurl }}/run.html#run-ant"><img class="csa-tablogo" src="images/ant.png" alt="Ant" title="Apache Ant" /></a>
    <a href="{{ site.baseurl }}/run.html#run-eclipse"><img class="csa-tablogo" src="images/eclipse.png" alt="Eclipse" /></a>
    <a href="{{ site.baseurl }}/run.html#run-intellij"><img class="csa-tablogo" src="images/intellij.png" alt="IntelliJ" /></a>
    <a href="{{ site.baseurl }}/run.html#run-intellij"><img class="csa-tablogo" src="images/android-studio.png" alt="Android Studio" /></a>
    <a href="{{ site.baseurl }}/run.html#run-sonarqube"><img class="csa-tablogo" src="images/sonarqube.jpg" alt="SonarQube" /></a>
    <a href="{{ site.baseurl }}/run.html#run-command-line"><img class="csa-tablogo" src="images/commandline.png" alt="Command Line" title="Command Line" /></a>
  </div>
</div>


<h2>Related Projects</h2>

The Checkstyle static code analysis tool is the foundation of a small ecosystem of tools, of which {{ site.name }} is only a part.
The most notable Checkstyle-related projects are: <a href="{{ site.link_cs_home }}">Checkstyle</a> (the main project),
<a href="https://github.com/jshiell/checkstyle-idea">Checkstyle-IDEA</a> (IDE plugin for IntelliJ),
<a href="http://checkstyle.org/eclipse-cs/">Eclipse-CS</a> (IDE plugin for Eclipse),
the <a href="https://docs.gradle.org/current/userguide/checkstyle_plugin.html">Gradle Checkstyle Plugin</a>,
the <a href="https://maven.apache.org/plugins/maven-checkstyle-plugin/">Maven Checkstyle Plugin</a>,
<a href="http://sevntu-checkstyle.github.io/sevntu.checkstyle/">SevNTU Checkstyle</a> (additional checks),
<a href="{{ site.url }}">{{ site.name }}</a> (additional checks; our humble selves),
<a href="http://unkrig.de/w/Cs-contrib.unkrig.de">CS-Contrib</a> (additional checks, focused on Eclipse),
the <a href="{{ site.link_sq_csplugin }}">SonarQube Checkstyle Plugin</a>, and
the <a href="https://wiki.jenkins-ci.org/display/JENKINS/Checkstyle+Plugin">Jenkins Checkstyle Plugin</a>.<br/>
A professional Checkstyle setup will often run several of the above together, which may require some planning. Refer to the
<a href="{{ site.baseurl }}/checkstyle-compatibility-matrix.html">Checkstyle Compatibility Matrix</a> to find out which versions to combine.
