---
layout: default
sedesc: Additional Checkstyle Checks
---

<div class="csa-main-title">
<div class="hidden-xs">
<div class="logo"><img src="{{ site.baseurl }}/images/checkstyle-addons-logo-text.png" width="637" height="126" alt="{{ site.name }}" /></div>
<p class="buttons"><a class="btn btn-primary" href="{{ site.baseurl }}/run.html">Download</a>
 <a class="btn btn-default btn-outline-inverse" target="_blank"
    href="https://github.com/{{ site.github }}" title="Browse/clone code at GitHub">Sources</a>
</p>
</div>

<div class="visible-xs">
<div class="logo"><img src="{{ site.baseurl }}/images/checkstyle-addons-logo.png" alt="{{ site.name }}" /></div>
<h1>{{ site.name }}</h1>
<h2>{{ site.description }}</h2>
<p class="buttons"><a class="btn btn-primary" href="{{ site.baseurl }}/run.html">Download</a>
 <a class="btn btn-default btn-outline-inverse" target="_blank"
    href="https://github.com/{{ site.github }}" title="Browse/clone code at GitHub">Sources</a>
</p>
</div>
</div>

<p>{{ site.name }} provides additional detectors for the <a href="http://checkstyle.sourceforge.net/" target="_blank">Checkstyle</a>
 static code analysis tool. These are new checks which you cannot currently find in
 <a href="http://checkstyle.sourceforge.net/checks.html" target="_blank">standard Checkstyle</a> or among the
 <a href="http://sevntu-checkstyle.github.io/sevntu.checkstyle/" target="_blank">SevNTU Checks</a>.
 {{ site.name }} <a href="#usage">integrates</a> with a large number of standard software.</p>
<p>{{ site.name }} is free software under the GNU General Public License, version 3
(<a href="https://www.gnu.org/copyleft/gpl.html" target="_blank">GPLv3</a>).</p>

{% if site.posts.size > 0 %}  
<h2>What's New</h2>
<div class="whatsnewposts">
<div class="container-fluid">
<div class="row">

{% for post in site.posts limit:2 %}
<div class="col-sm-5">
<div class="panel {% if post.release == true %}panel-primary{% else %}panel-default{% endif %}">
  <div class="panel-heading"><h3 class="panel-title">{% if post.content contains '<!--break-->' %}<a href="{{ post.url }}">{{ post.date | date: "%b %-d, %Y" }} - {{ post.title }}</a>{% else %}{{ post.date | date: "%b %-d, %Y" }} - {{ post.title }}{% endif %}</h3></div>
  <div class="panel-body">
    {{ post.content | split:'<!--break-->' | first }}{% if post.content contains '<!--break-->' %}
    <a href="{{ post.url }}"><br/>... read more</a> {% endif %}{% if post.content contains '<!--break-->' %}</p>{% endif %}
  </div>
</div>
</div>
{% endfor %}

{% if site.posts.size > 2 %}  
<div class="col-sm-2">
<div class="panel panel-default">
  <div class="panel-heading"><h3 class="panel-title"><a href="{{ site.baseurl }}/whatsnew.html">&raquo; All Blog posts</a></h3></div>
  <div class="panel-body">
    The <a href="{{ site.baseurl }}/whatsnew.html">What's New</a> page has the comprehensive list of all blog posts.
  </div>
</div>
</div>
{% endif %}
</div></div></div>
{% endif %}


<a name="usage" class="csa-offset-anchor"></a>
<h2>Use Checkstyle Addons in your Build and IDE</h2>

<ul class="nav nav-tabs">
  <li class="active"><a aria-expanded="true" href="#gradle" data-toggle="tab"><img src="images/gradle-logo-text.png"
      alt="Gradle" class="csa-tablogo" /></a></li>
  <li><a aria-expanded="false" href="#maven" data-toggle="tab"><img src="images/maven-logo.png"
      alt="Maven" class="csa-tablogo" /></a></li>
  <li><a aria-expanded="false" href="#ant" data-toggle="tab">Ant</a></li>
  <li><a aria-expanded="false" href="#eclipse" data-toggle="tab">Eclipse</a></li>
  <li><a aria-expanded="false" href="#intellij" data-toggle="tab">IntelliJ</a></li>
  <li><a aria-expanded="false" href="#sonarqube" data-toggle="tab">SonarQube</a></li>
  <li><a aria-expanded="false" href="#standalone" data-toggle="tab">Standalone</a></li>
</ul>
<div id="myTabContent" class="tab-content">
  <div class="tab-pane fade active in" id="gradle">
    <p>Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua, retro synth master cleanse. Mustache cliche tempor, williamsburg carles vegan helvetica. Reprehenderit butcher retro keffiyeh dreamcatcher synth. Cosby sweater eu banh mi, qui irure terry richardson ex squid. Aliquip placeat salvia cillum iphone. Seitan aliquip quis cardigan american apparel, butcher voluptate nisi qui.</p>
  </div>
  <div class="tab-pane fade" id="maven">
    <p>Food truck fixie locavore, accusamus mcsweeney's marfa nulla single-origin coffee squid. Exercitation +1 labore velit, blog sartorial PBR leggings next level wes anderson artisan four loko farm-to-table craft beer twee. Qui photo booth letterpress, commodo enim craft beer mlkshk aliquip jean shorts ullamco ad vinyl cillum PBR. Homo nostrud organic, assumenda labore aesthetic magna delectus mollit.</p>
  </div>
  <div class="tab-pane fade" id="ant">
    <p>Food truck fixie locavore, accusamus mcsweeney's marfa nulla single-origin coffee squid. Exercitation +1 labore velit, blog sartorial PBR leggings next level wes anderson artisan four loko farm-to-table craft beer twee. Qui photo booth letterpress, commodo enim craft beer mlkshk aliquip jean shorts ullamco ad vinyl cillum PBR. Homo nostrud organic, assumenda labore aesthetic magna delectus mollit.</p>
  </div>
  <div class="tab-pane fade" id="eclipse">
    <p>Etsy mixtape wayfarers, ethical wes anderson tofu before they sold out mcsweeney's organic lomo retro fanny pack lo-fi farm-to-table readymade. Messenger bag gentrify pitchfork tattooed craft beer, iphone skateboard locavore carles etsy salvia banksy hoodie helvetica. DIY synth PBR banksy irony. Leggings gentrify squid 8-bit cred pitchfork.</p>
  </div>
  <div class="tab-pane fade" id="intellij">
    <p>Trust fund seitan letterpress, keytar raw denim keffiyeh etsy art party before they sold out master cleanse gluten-free squid scenester freegan cosby sweater. Fanny pack portland seitan DIY, art party locavore wolf cliche high life echo park Austin. Cred vinyl keffiyeh DIY salvia PBR, banh mi before they sold out farm-to-table VHS viral locavore cosby sweater.</p>
  </div>
  <div class="tab-pane fade" id="sonarqube">
    <p>Trust fund seitan letterpress, keytar raw denim keffiyeh etsy art party before they sold out master cleanse gluten-free squid scenester freegan cosby sweater. Fanny pack portland seitan DIY, art party locavore wolf cliche high life echo park Austin. Cred vinyl keffiyeh DIY salvia PBR, banh mi before they sold out farm-to-table VHS viral locavore cosby sweater.</p>
  </div>
  <div class="tab-pane fade" id="standalone">
    <p>Trust fund seitan letterpress, keytar raw denim keffiyeh etsy art party before they sold out master cleanse gluten-free squid scenester freegan cosby sweater. Fanny pack portland seitan DIY, art party locavore wolf cliche high life echo park Austin. Cred vinyl keffiyeh DIY salvia PBR, banh mi before they sold out farm-to-table VHS viral locavore cosby sweater.</p>
  </div>
</div>
