---
layout: default
title: What's New
---

<h1>What's New</h1>

<p>Behold the chronicles of {{ site.name }}!</p><br/>

<table class="table table-striped">
<tr>
    <th>Date</th><th>Post</th>
</tr>
{% for post in site.posts %}
<tr {% if post.emphasis == true %}class="info"{% endif %}>
    <td><b>{{ post.date | date: "%b&nbsp;%-d, %Y" }}</b></td>
    {% capture headingtext %}{{ post.title }}{% if post.release == true %} released{% endif %}{% endcapture %}
    <td><span class="post-title">{% if post.content contains '<!--break-->' or post.release == true %}<a href="{{ post.url }}">{{ headingtext }}</a>{% else %}{{ headingtext }}{% endif %}</span><br/>
    {{ post.content | split:'<!--break-->' | first }}{% if post.content contains '<!--break-->' %} <a href="{{ post.url }}"> &nbsp; ... read more</a> {% endif %}
    </td>
</tr>
{% endfor %}
</table>

<a class="btn btn-info" href="{{ site.baseurl }}/releases.html">Release History</a>
