<div class="footer">
    <p><b>{{ site.name }}</b> &copy;&nbsp;2015 by&nbsp;<span class="colored"><a href="http://thomasjensen.com"
        target="_blank">Thomas&nbsp;Jensen</a></span><br/>
    Website uses <a target="_blank" href="http://thomaspark.co/">Thomas Park</a>'s
    <a target="_blank" href="http://bootswatch.com/spacelab/">SpaceLab theme</a>
    <span class="hidden-xs">(under <a target="_blank" href="https://github.com/thomaspark/bootswatch/blob/gh-pages/LICENSE">MIT License</a>)</span></p>
</div>
    
{% include analytics.html %}
    <script src="https://code.jquery.com/jquery-2.1.3.min.js"></script>
	{% if page.title == 'Contributing' %}
    <script>
    $(document).ready(function() {
        $.ajax({
            url: "http://api.travis-ci.org/repos/checkstyle-addons/checkstyle-addons",
            dataType: "xml",
            success: function(xmlDoc, textStatus, jqXHR) {
                $status = $(xmlDoc).find("Project").attr("lastBuildStatus");
                if ($status == "Success") {
                    $('#travis-status').attr( 'class', 'panel panel-success' );
                    $('#travis-status-title').append(': good');
                }
                else {
                    $('#travis-status').attr( 'class', 'panel panel-danger' );
                    $('#travis-status-title').append(': failed');
                }
            }
        });
    });
    </script>
	{% endif %}
    <script src="{{ site.baseurl}}/js/bootstrap.min.js"></script>
</body>
</html>
