<div class="footer {% if page.longContent == true %}footer-moving{% endif %}">
    <div class="footer-part"><b>{{ site.name }}</b> &copy;&nbsp;2015 <a href="http://thomasjensen.com"
        target="_blank">Thomas&nbsp;Jensen</a><span class="footer-sep">●</span></div>
    <div class="footer-part">Website uses <a target="_blank" href="http://thomaspark.co/">Thomas Park</a>'s
    <a target="_blank" href="http://bootswatch.com/spacelab/">SpaceLab theme</a>
    <span class="hidden-xs">(under <a target="_blank" href="https://github.com/thomaspark/bootswatch/blob/gh-pages/LICENSE">MIT License</a>)</span></div>
</div>
    
{% include analytics.html %}
    <script src="https://code.jquery.com/jquery-2.1.3.min.js"></script>
    <script src="{{ site.baseurl}}/js/bootstrap.min.js"></script>{% if page.enable-highlight-js %}
    <script type="text/javascript" src="{{ site.baseurl}}/js/checkstyle-addons-hilite.js"></script>{% endif %}
</body>
</html>
