<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% comment %}
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    {% endcomment %}
    <title>{{ site.name }} - {% if page.title | size > 0 %}{{ page.title }}{% else %}{{ site.description }}{% endif %}</title>
    <meta name="author" content="Thomas Jensen" />
    {% include analytics.html %}
	{% if page.sedesc %}
	<!-- start page -->
	<meta name="description" content="{{ site.description }}" />
    <meta name="keywords" content="checkstyle, {{ site.name }}, checkstyle addons, addons, add-ons, code style,
        code analysis, coding standards, java, software quality, static code analysis, static analysis" />
	<link rel="canonical" href="{{ site.url }}" />
	{% endif %}
    <link rel="apple-touch-icon" sizes="57x57" href="{{ site.baseurl }}/images/favicons/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="{{ site.baseurl }}/images/favicons/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="{{ site.baseurl }}/images/favicons/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="{{ site.baseurl }}/images/favicons/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="{{ site.baseurl }}/images/favicons/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="{{ site.baseurl }}/images/favicons/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="{{ site.baseurl }}/images/favicons/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="{{ site.baseurl }}/images/favicons/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="{{ site.baseurl }}/images/favicons/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="{{ site.baseurl }}/images/favicons/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ site.baseurl }}/images/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="{{ site.baseurl }}/images/favicons/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ site.baseurl }}/images/favicons/favicon-16x16.png">
    <link rel="manifest" href="{{ site.baseurl}}/images/favicons/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="{{ site.baseurl }}/images/favicons/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">

    <link href="{{ site.baseurl }}/css/bootstrap-spacelab.min.css" rel="stylesheet" data-semver="3.3.4" data-require="bootstrap-css" />
    <link href="{{ site.baseurl }}/css/syntax.css" rel="stylesheet" />
    <link href="{{ site.baseurl }}/css/checkstyle-addons.css" rel="stylesheet" />
    
    <script type="text/javascript">
    <!--
        function toggle_visibility(id) {
           var e = document.getElementById(id);
           if(e.style.display == 'block')
              e.style.display = 'none';
           else
              e.style.display = 'block';
        }
    //-->
    </script>
</head>

<body{% if page.longContent %} class="longContent"{% endif %}>
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{{ site.baseurl}}/">{{ site.name }}</a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li><a href="{{ site.baseurl }}/run.html">Get&nbsp;Started</a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Blog <span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                <li><a href="{{ site.baseurl }}/whatsnew.html">What's New</a></li>
                <li><a href="{{ site.baseurl }}/releases.html">Release History</a></li>
                <li class="divider"></li>
                <li><a href="{{ site.baseurl }}/checkstyle-compatibility-matrix.html">Compatibility Matrix</a></li>
              </ul>
            </li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Checks <span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                <li><a href="{{ site.baseurl }}/latest/checks/">All Checks</a></li>
                <li class="divider"></li>
                <li><a href="{{ site.baseurl }}/latest/checks/coding.html">Coding</a></li>
                <li><a href="{{ site.baseurl }}/latest/checks/misc.html">Miscellaneous</a></li>
                <li><a href="{{ site.baseurl }}/latest/checks/regexp.html">Regexp</a></li>
              </ul>
            </li>
            <li><a href="{{ site.baseurl }}/contributing.html">Contribute</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="https://github.com/{{ site.github }}">GitHub</a></li>
          </ul>
        </div>
      </div>
    </nav>
