{% include header.html %}

<div class="checkpage">

<h1>{{ page.check_category | capitalize }} <span class="version">{{ page.check_version }}</span></h1>

{% capture headerName %}pages/checks/{{ page.check_category }}.md{% endcapture %}
{% capture headerMarkdown %}{% include {{ headerName }} %}{% endcapture %}
{{ headerMarkdown | markdownify }}

{% for checkfile in page.check_list %}
{% capture includedMarkdown %}{% include {{ checkfile }} %}{% endcapture %}
{% capture checkname %}{{ checkfile | split:"/" | last | split:"." | first }}{% endcapture %}
{% capture replstr1 %}<a name="{{ checkname }}-properties" class="csa-offset-anchor"></a>
<h3>{% endcapture %}
{% capture replstr2 %}<a name="{{ checkname }}-examples" class="csa-offset-anchor"></a>
<h3>{% endcapture %}
{% capture replstr3 %}<a name="{{ checkname }}-parent-module" class="csa-offset-anchor"></a>
<h3>{% endcapture %}
{% capture replstr4 %}<a name="{{ checkname }}-overview" class="csa-offset-anchor"></a>
<h3>{% endcapture %}
<a name="{{ checkname }}" class="csa-offset-anchor"></a>
{{ includedMarkdown | markdownify
    | replace: '<h3 id="properties">', replstr1
    | replace: '<h3 id="examples">', replstr2
    | replace: '<h3 id="parent-module">', replstr3
    | replace: '<h3 id="overview">', replstr4 }}
{% endfor %}
</div>

{% include footer.html %}
