{% include header.html %}

<div class="checkpage">

<h1>{{ page.check_category | capitalize }} <span class="version">{{ page.check_version }}</span></h1>

{% capture headerName %}pages/checks/{{ page.check_category }}.md{% endcapture %}
{% capture headerMarkdown %}{% include {{ headerName }} %}{% endcapture %}
{{ headerMarkdown | markdownify }}

{% for checkfile in page.check_list %}
{% capture includedMarkdown %}{% include {{ checkfile }} %}{% endcapture %}
{% capture checkname %}{{ checkfile | split:"/" | last | split:"." | first }}{% endcapture %}
{% capture replstr %}<a name="{{ checkname }}-\2" class="csa-offset-anchor"></a>
\1{% endcapture %}
<a name="{{ checkname }}" class="csa-offset-anchor"></a>
{{ includedMarkdown | markdownify | replace_regex: '(<h[345]) id="([^"]+)"', replstr }}
{% endfor %}
</div>

{% include footer.html %}
