{% include header.html %}

<div class="csa-content">
<div class="article">
    <h1>{{ page.date | date: "%b %-d, %Y" }} - {{ page.title }}{% if page.release == true %} released{% endif %}</h1>
    <div class="post-content">
    {{ content }}
    {% if page.release == true %}<p class="csa-post-links"><a class="btn btn-primary"
      href="https://github.com/{{ site.github }}/releases/tag/{{ page.title }}">Download</a>
      &nbsp; &nbsp;
    <a class="btn btn-info" href="{{ site.baseurl }}/releases.html">Release History</a></p>{% endif %}
    </div>
</div>

<p/><br/>
<ul class="pager">
  <li class="previous{% if page.previous %} {% else %} disabled{% endif %}"><a href="{{ site.baseurl}}{{ page.previous.url }}">&larr; Older</a></li>
  <li><a href="{{ site.baseurl}}/whatsnew.html">All Posts</a></li>
  <li class="next{% if page.next %} {% else %} disabled{% endif %}"><a href="{{ site.baseurl}}{{ page.next.url }}">Newer &rarr;</a></li>
</ul>
</div>

{% include footer.html %}
